

<h5>
  <%= title %>
</h5> <!-- Section Title -->

<!-- Display Count -->
<span id="count-<%= title.toLowerCase().replace(/\s/g, '-') %>">
  <%= data.length %>
</span>

<!-- To-Do List -->
<ul>
  <% data.forEach(todo=> { %>
    <li class="flex items-center">
      <input type="checkbox" id="<%= todo._id %>" name="<%= todo._id %>" class="mr-2">
      <label for="<%= todo._id %>" class="text-gray-800">
        <%= todo.title %>
      </label>
      <a href="#" class="ml-auto">
        <!-- Font Awesome Trash icon -->
        <i class="fas fa-trash text-red-600 hover:text-red-700"></i>
      </a>
    </li>
    <% }); %>
</ul>